{% extends 'base.html' %}

{% block content %}
<article class="discography">
    <div class="contents_title">
        <h1>Discography</h1>
    </div>
    <div class="disc_menu">
        <ul>
            <li>
                <a href="{% url 'discography' %}">All</a>
            </li>
            <li>
                <a href="{% url 'album' %}">Album</a>
            </li>
            <li>
                <a href="{% url 'single' %}">Single</a>
            </li>
            <li>
                <a href="{% url 'video_disc' %}">Video</a>
            </li>
            <li>
                <a href="{% url 'book' %}">Book</a>
            </li>
            <li>
                <a href="{% url 'download' %}">Download</a>
            </li>
        </ul>
    </div>
    <div class="page_contents">
        <div class="disc_view">
            {% block disc %}
            {% endblock %}
        </div>
    </div>
</article>
{% endblock content %}