{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}
<div>
    <img src="{% static 'home/loafer005.jpg' %}"  id="sd" alt="news picture" class="homenews_pic">
    <a href="javascript:;" onclick="backNews();">
        <img src="/../static/media/icon/left.png" width="30" height="30" alt="">
    </a>
    <a href="javascript:;" onclick="forwardNews();">
        <img src="/../static/media/icon/right.png" width="30" height="30" alt="">
    </a>
</div>
<div>
    <img src="{% static 'home/loafer005.jpg' %}" alt="artist picture" class="home_pic">
</div>
<div>
    {% for news in newss %}
    <div class="news_slide">
        <img src="/../static/media/news/{{ news.imagesub }}" alt="picture" class="news_pic">
        <h3><a href="#">{{ news.title }}</a></h3>
        </div>
    {% endfor %}
</div>
<div class="homelive">
    <h2>Comming Live</h2>
    <p><a href="{% url 'live' %}#fromhome">予約はLiveページから！</a></p>
    <br style="clear:both;">
</div>
<div>
    {% for live in next_lives %}
        <div class="live_contents">
            <h3><a href="{% url 'live_detail' live_id=live.pk %}">{{ live.title }}</a></h3>
            <p class="live_date">{{ live.date.year }}.{{ live.date.month }}.{{ live.date.day }}</p>
            <p class="live_place">{{ live.place }}</p>
            <p class="live_artist">ARTISTS: {{ live.artists }}</p>
        </div>
    {% endfor %}
</div>
<script>
    var image = new Array();
    var current = 0;
    {% for news in newss %}
        image[current] = new Image();
        image[current].src = "/../static/media/news/{{ news.imagesub }}";
        current++;
    {% endfor %}
</script>
{% endblock content %}