{% extends 'disc_base.html' %}

{% block disc %}
<div class="disc_detail">
    <img src="/../static/media/news/{{ disc.imagesub }}" alt="picture" class="disc_pic">
    <div class="disc_detail_data">
        <p class="release">{{ disc.release.year }}.{{ disc.release.month }}.{{ disc.release.day }} {{ disc.status }}</p>
        <h3>{{ disc.title }}</h3>
        <span>{{ disc.Category }}</span>
        <p>{{ disc.MPN }} ¥{{ disc.price }}</p>
        <p class="catch">{{ disc.catchcopy }}</p>
        <p class="songs">{{ disc.songs|linebreaks }}</p>
        <p class="comment">{{ disc.comment }}</p>
        <p class="imformation">{{ disc.imformation }}</p>
    </div>
    <br style="clear:both;">
</div>
{% endblock disc %}