@charset "utf-8";

/* 全体設定 */
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: whitesmoke;
}

#container {
    position: relative;
    margin: auto;
    background-color: white;
}

h1, h2 {
    font-family: "Amatic SC", cursive, sans-serif;
    font-weight: bold;
    color: black;
}

h3, a, p {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

h1 {font-size: 2em;
}

h2 {font-size: 3em;
    margin: 1em 0em;
}

h3 {font-size: 1em;
    font-weight: bold;
}

p {font-size: 0.85em;
    color: #404040;
}

/* ヘッダー設定 */
header {
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 3em;
    background-color: black;
    text-align: center;
}

header .logo {
    height: 1.4em;
}

/* ナビゲーション設定 */
nav {
    position: relative;
    top: 3em;
    height: 5em;
}

nav ul {
    list-style-type: none;
}

nav li {
    float: left;
    background-color: white;
    padding: 0.6em 1em;
    margin-top: 1em;
    transition: 2.0s;
}

nav li a {
    font-family: "Amatic SC", cursive, sans-serif;
    font-size: 1.6em;
    font-weight: bold;
}

nav li:hover {
    font-size: 1.1em;
    border-bottom: solid 0.1em black;
}

/* コンテンツ設定 */
.contents {
    position: relative;
    top: 0em;
    margin-top : 4em;
}

.contents_title {
    padding: 1em;
    margin: auto;
    background-color: steelblue;
}

.contents_title h1 {
    text-align: center;
    font-size: 6em;
    color: white;
}

.page_contents {
    width: 90%;
    margin: auto;
    padding-bottom: 3em;
}

.news, .live, .video, .media, 
.biography, .discography,
.lyric, .contact {
    background-color: whitesmoke
}

/* フッター設定 */
footer {
    clear: both;
    background-color: black;
    padding: 0.5em 0em;
    margin-top: auto;
}

.copyright {
    font-size: 0.5em;
    text-align: right;
    color: dimgray;
}


/* リンク設定 全体 */
a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: gray
}

/* ページ設定 */

/* Home */
.home_pic {
    width: 100%;
    height: 100%;
    border-top: solid 3em steelblue;
}

#hnp {
    width: 100%;
    height: 50em;
    transition: 1.0s;
}

#hnt {
    position: absolute;
    top: 20em;
    left: 50%;
    background-color: white;
    padding: 3em;
    opacity: 0.8;
    border-radius: 2em;
}

.homenews .hnb {
    position: absolute;
    top: 20em;
    left: 1em;
}

.homenews .hnf {
    position: absolute;
    top: 20em;
    right: 1em;
}

#hnp:hover, .homenews .hnb:hover, .homenews .hnf:hover {
    opacity: 0.8;
}

.homelive h2 {
    float: left;
}

.homelive a {
    position: relative;
    top: 6em;
    left: 4em;
    color: orangered;
    border-bottom: solid 0.01em orangered;
}

/* News */
.news h1 a {
    font-family: "Amatic SC", cursive, sans-serif;
    font-weight: bold;
}

.news_contents {
    margin-top: 3em ;
    padding: 1em;
    background-color: white;
}

.news_date {
    float: left;
    margin-right: 4em;
    color: coral;
}

.news_data {
    width: 80%;
    float: left;
    border-left: solid 0.05em coral;
    padding-left: 3em;
}

.news_data h3, .news_data p {
    margin-top: 1em;
}

.news_pic {
    height: 16em;
}

/* Live */
.live h1 a {
    font-family: "Amatic SC", cursive, sans-serif;
    font-weight: bold;
    color: white;
}

.live_contents {
    padding: 1em;
    background-color: white;
    border-top: solid 0.5em lightblue;
}

.live h3, .live_date, .live_artist, .live_time {
    margin-top: 1em;
}

.live_detail {
    margin-top: 2em;
    padding: 1em;
}

.live_detail h3 {
    background-color: lightblue; 
    color: white;
    margin: 1em 0em;
}

.live_url a {
    color: orangered;
    border-bottom: solid 0.01em orangered;
}

.live_pic {
    height: 16em;
}

.live_contact {
    padding: 1em;
    background-color: white;
}

.live_contact_form p, .live_contact_form button {
    margin: 1em;
}

.pastlive {
    width: 50%;
    padding: 1em;
    background-color: white;
}

/* Video */
.video_contents {
    margin-top: 3em;
}

.video_contents h3 {
    font-size: 1.5em;
    text-align: center;
}

.video_contents iframe {
    padding-top: 1em;
    display: block;
    margin: auto;
}

/* Media */
.media_contents {
    padding: 1em;
    background-color: white;
    border-top: solid 0.5em lightblue;
}

.media span {
    border: solid 0.05em black;
    font-size: 0.8em;
}

.media_pic {
    height: 16em;
}

.media_date, .media_broad, .media_exp {
    padding-top: 1em;
}

.media_broad a {
    color: orangered;
    border-bottom: solid 0.01em orangered;
}

.pastmedia {
    width: 50%;
    padding: 1em;
    background-color: white;
}

/* Biography */
.bio_pic, .bio_exp {
    display: block;
    margin: auto;
}

.bio_pic {
    width: 80%;
    padding-top: 3em; 
}

.bio_exp {
    width: 70%;
    padding-top: 2em; 
}

.member {
    position: relative;
    width: 80%;
    margin: auto;
    padding-bottom: 2em;
}

.solo {
    float: left;
    padding: 3em;
}

.solo_pic {
    width: 10em;
    height: 10em;
}

.solo_name {
    padding: 0.5em 0em;
}

.history {
    position: relative;
    width: 80%;
    margin: auto;
    border-top: solid 0.5em lightblue; 
}

/* Discography */
.disc_menu {
    width: 60%;
    margin: auto;
}

.disc_menu ul {
    list-style-type: none;
}

.disc_menu ul li {
    float: left;
    padding: 0.9em 1em;
    margin: auto;
}

.disc_menu ul li a {
    color: black;
    font-family: "Amatic SC", cursive, sans-serif;
    font-size: 1.3em;
    font-weight: bold;
}

.disc_menu ul li a:hover {
    color: gray;
}

.disc_view {
    clear: both;
}

.adisc {
    width: 18em;
    height: 20em;
    background-color: white;
    text-align: center;
    margin: auto;
    padding-top: 2em;
    border-radius: 1em;
    border: solid 0.05em coral;
}

a:hover .adisc {
    background-color: coral;
}

.adisc span, .disc_detail span {
    border: solid 0.05em black;
    font-size: 0.8em;
}

.disc_pic {
    width: 12em;
    height: 12em;
}

.disc_detail {
    padding: 3em;
    width: 50em;
    margin: auto;
}

.disc_detail .disc_pic {
    float: left;
    vertical-align: auto;
    padding-right: 3em;
}

.disc_detail h3 {
    float: left;
}

.disc_detail_data .catch, 
.disc_detail_data .songs, 
.disc_detail_data .comment, 
.disc_detail_data .imformation {
    padding-top: 1em;
}

.disc_detail_data {
    float: left;
}

/* Lyric */
.lyric_contents {
    position: relative;
    margin-top: 3em;
    background-color: white;
    width: 50%;
}

.lyric_contents h3 {
    padding: 0.3em;
    background-color: lightblue;
    color: white;
    font-weight: normal;
    border-bottom: solid 0.1em coral;
}

.lyric_text {
    margin-top: 1em;
}

/* Contact */
.contact_form {
    position: relative;
    margin-top: 3em;
    background-color: white;
}

.contact_form p, .contact_form button {
    margin: 1em;
}